:root {
  --bg-color: #121212; 
  --text-color: #f5f5f5; 
  --primary-color: #ff5733; 
  --secondary-color: #444444; 
  --input-bg-color: #333; 
  --button-bg-color: #ff5733; 
  --button-hover-color: #ff704d; 
  --border-color: rgba(255, 255, 255, 0.3); 
  --font-family: 'Roboto', sans-serif; 
}



body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
}

.loginTitle {
  font-size: 60px;
  color: rgb(240, 239, 240);
  margin-bottom: 20px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}

.loginForm > label {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.loginInput {
  padding: 12px;
  background-color: var(--input-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  color: var(--text-color);
  font-size: 18px;
  transition: 0.3s;
  box-sizing: border-box;
}

.loginInput:focus {
  outline: none;
  border-color: var(--primary-color);
  background: var(--secondary-color);
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  padding: 14px;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
}

.loginButton:hover {
  background-color: var(--button-hover-color);
}

.loginRegisterButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #2a2a44;
  padding: 12px;
  border: none;
  color: var(--text-color);
  border-radius: 12px;
  font-size: 18px;
  transition: 0.3s;
}

.loginRegisterButton:hover {
  background-color: #4b4b70;
}

@media (max-width: 768px) {
  .loginTitle {
    font-size: 45px;
  }

  .loginForm {
    padding: 25px;
  }

  .loginInput {
    font-size: 16px;
  }

  .loginButton, .loginRegisterButton {
    font-size: 16px;
  }
}
